/* колір заголовків #212121;*/
/* колір основного текста  #757575 */
/* білий колір #FFFFFF */
/* колір акценту #2196F3 */
/* колір секції чим ми займаємося #F5F5F5 */
/* колір секції наша команда #F5F4FA */
/* колір футера #2F303A */

.body{
    color: #757575;
}
.logo{
    color: #000000;
}
.logo:hover {
    color: orange;
}
.logo:focus {
    color: orange;
}

ul{
    list-style: none;
}
/* site-nav */
.site-nav a {
    color: #2196F3;
}
.site-nav a:hover,
.site-nav a:focus {
    color: orange;
}
.contacts-nav a {
    color: #2196F3;
}
.contacts-nav a:hover,
.contacts-nav a:focus {
    color: orange;
}
/* герой */
.hero-title {
    color:  #FFFFFF;
}
.hero{
    background-color: #2F303A;
}

/* секції */
.section-title {
    color: #212121;
}
.title {
    color: #212121;
}
/* секцыя наша команда */
.link {
    color: #212121;
}
.section-team {
    color: #212121;
    background: #F5F4FA;
}
/* підвал */
.footer {
    background-color: #2F303A;
}
.footer {
    color: #FFFFFF;
}