/* колір заголовків #212121;*/
/* колір основного текста  #757575 */
/* білий колір #FFFFFF */
/* колір акценту #2196F3 */
/* колір секції чим ми займаємося #F5F5F5 */
/* колір секції наша команда #F5F4FA */
/* колір футера #2F303A */

:root {
    --primary-text-color: #757575;
    --title-color: #212121;
    --accent-color: #2196F3;
    --focus-color: tomato;
    --white-color: #FFFFFF;

}
.body{
    color: var(--primary-text-color);
}
.logo{
    color: #000000;
}
.logo-color {
    color: var(--accent-color);
}
.logo:hover {
    color: var(--accent-color);
}
.logo:focus {
    color: var(--focus-color);
}
.link {
    text-decoration: none;
}
ul{
    list-style: none;
}
/* site-nav */

.site-nav a {
    color: var(--title-color);
    }
.site-nav a:hover {
    color: var(--accent-color);
}
.site-nav a:focus {
    color: var(--focus-color);
}
.site-nav a.current {
    color: var(--accent-color);
}
.contacts-nav a {
    color: var(--primary-text-color);
}
.contacts-nav a:hover {
    color: var(--accent-color);
}
.contacts-nav a:focus {
    color: var(--focus-color);
}

/* герой */
.hero-title {
    color: var(--white-color);
}
.hero{
    background-color: #2F303A;
}

/* секції */
.section-title {
    color: var(--title-color);
}
.title {
    color: var(--title-color);
}
/* секція наша команда */
    
.link {
    color: var(--title-color);
}
.section-team {
    color: var(--title-color);
    background: #F5F4FA;
}
/* підвал */
.footer {
    background-color: #2F303A;
}
.footer {
    color: var(--white-color);
}
/* Кнопка */
.button-main {
    color: var(--white-color);
    background-color: var(--accent-color);
}
.button-main:hover,.button:focus,.button:active {
color: var(--focus-color);
}
.button-secondary {
    color: var(--title-color);
    background-color: var(--white-color);
}
.button-secondary:hover,.button-secondary:focus,.button-secondary:active {
    color: var(--focus-color);
/* Портфоліо */
.title {            
    color: var(--title-color)
}
            